<!DOCTYPE html>
<html>
<head>
<title>Overview</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<!-- Latest compiled and minified Bootstrap CSS fill from Bootswatch's Cyborg theme -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">KenCast VAZZT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="overview.html">Overview<span class="sr-only">(current)</span></a></li>
        <li><a href="instructions.html">Instructions</a></li>
        <li class="dropdown">
            <a href="faq.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQ<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li><a href="checklist.html">Checklist</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul><!-- /.navbar-nav -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--jumbotron-->
<div class="jumbotron">
  <img src="../img/mountainFilming.jpg" alt="filming in the mountains">
</div>

    <div class="container">
        <h2>Overview</h2>

        <h3>Delivery Video Files and Live Video, from Mobile Platforms</h3>
        <p>KenCast&#39;s Vazzt Video-On-The-Move (VOTM) provides the video encoding, underlying network infrastructure, and playout capability to support video file delivery and live video capture from vehicles and aircraft on the move, and from users on foot to a central hub, and the ability to redistribute this live content from the central hub to users on the Internet or on private networks.</p>

        <h3>Find Enough Bandwidth for Quality Video & Deliver Flawlessly</h3>
        <p>When covering an event on the move, it is ususally difficult to find enough bandwidth for quality video, and the wireless bandwidth offered today, even when found, is often noisy. Vazzt VOTM creates enough bandwidth by</p>
        <ol>
        <li>accelerating delivery on any IP networks it finds</li>
        <li>bonding/aggregating the networks.</li>
         </ol>
        <p>Vazzt then recovers from the damage caused by the noise by using the reknown KenCast Forward Error Correction (FEC) routines.</p>
        <h3>Keep It Simple &#45; No Extra Hardware to Lug Around</h3>
        <p>Capturing video with a camera and a laptop or netbook while on the move is necessary for many people (New Gatherers, Police, Firemen, Emergency Workers, Soldiers, and many more).  Almost all solutions offered today to support the efforts of users on the move require they add another piece of hardware, often larger/heavier than the camera and laptop.  The Vazzt VOTM platform is ALL SOFTWARE &#45; NO EXTRA BOX REQUIRED</p> 
</p>
    </div>

<script src="../controllers/faqController.js"></script>


</body>
</html>