<div class="faq-wrapper">
    <!--jumbotron-->
    <div class="jumbotron">
        <img src="../img/cameraDrone.jpg" alt="camcorder">
    </div>
    <div class="container" ng-app="faqApp" ng-controller="faqCtrl">
        <h2>General FAQ</h2>
        <div class="row col-md-6">
            <!--accordion-->
            <div class="panel-group" id="accordion-sample" ng-repeat="x in faq | filter: category.general | orderBy: number">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title text-white">
                            <a data-toggle="collapse" data-parent="#accordion-sample" href="#accordion-{{x.number}}">
                                {{ x.question }}
                            </a>
                        </h4>
                    </div>
                    <div id="accordion-{{x.number}}" class="answer panel-collapse collapse" ng-bind-html="x.answer">
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-bind-html="myHTML">
        </div>-->
    </div>
</div>
